.profile-card{
    text-align: center;
    width: 100%;
    padding: 0 20px 20px 20px;
}

img{
    border-radius: 50%;
    height: 100px;
    width: 110px;
    margin-bottom: 10px;
}
 hr{
     margin-top: 0px;
     margin-bottom: 0px;
 }