<div class="container">
    <h1 class="title">Báo cáo lỗ lãi</h1>
    <p style="text-align: center; font-size: 15px;"><i>Tháng 12/2021</i></p>
    <table class="table table-bordered" style="text-align: center;">
        <tr>
            <td rowspan="2" style="line-height: 70px;">STT</td>
            <td rowspan="2" style="line-height: 70px;">Diễn Giải</td>
            <td colspan="3">T6</td>
            <td rowspan="2" style="line-height: 70px;">Cost</td>
        </tr>
        <tr>
            <td>Doanh thu</td>
            <td>Chi phí đã chi</td>
            <td>Công nợ nhà cung cấp</td>
        </tr>
    </table>

</div>