.buttons-wrapper{
    position: fixed;
    bottom: 0;
    width: 50%;
    background-color: white;
}

.buttons{
    display: flex;
}

.buttons button{
    width: 150px;
    margin-left: 15px;
    margin-bottom: 10px;
    color: white;
    font-size: 15px;
}

.list-bill{
    width: 51%;
    background-color: #007bff;
    position: fixed;
    top: 64px;
    color: white;
    height: 50px;
    display: flex;
    justify-content: flex-start;
}

.previous{
    width: 20px;
    border: 1px solid rgb(73, 73, 73);
    line-height: 50px;
    text-align: center;
}

.next{
    width: 20px;
    border-left: 1px solid rgb(73, 73, 73);
    line-height: 50px;
    text-align: center;
    right: 12px;
    position: absolute;
    height: 50px;
}

.next:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.previous:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.bill{
    width: 107px;
    border-right: 1px solid rgb(73, 73, 73);
    line-height: 50px;
    text-align: center;
}

.bill p{
    font-weight: 500;
}

.bill:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.add{
    background-color: #28a745;
}

.add:hover{
    background-color: #1e8536;
}

.print{
    background-color: #007bff;
}

.print:hover{
    background-color: #0059b8;
}

.cancel:hover{
    background-color: rgb(255, 0, 0);
}

.pay{
    background-color: yellow;
}

.pay:hover{
    background-color: rgb(182, 182, 0);
}

.active{
    background-color: white;
    color: black;
}

.product{
    margin-top: 50px;
    margin-left: 30px;
    height: 60vh;
    overflow-y: scroll;
}

.sum{
    margin-right: 28px;
    text-align: right;
}

.sum h1{
    font-size: 34px;
    font-weight: 500;
}

.sum p{
    color: red;
    font-weight: 500;
    font-size: 20px;
}

hr{
    margin-top: 0;
}