.right-content {
    flex: 1 1 auto;
}

.lqs{
    font-size: 28px; 
} 

img {
    border-radius: 50%;
    width: 35px;
    margin-right: 7px;
}

.info{
    margin-top: 10px;
    text-align: center;
    margin-right: 10px;
}

.info h2{
    font-size: 20px;
    margin-bottom: -5px;
    padding: 0;
}

.mat-toolbar{
    background-color: #E98219;
    color: #fff
}

.form-group select{
    font-size: 15px;
    border: none;
    background-color: #E98219;
    color: white;
    margin-left: 10px;
}

.form-group option{
    background-color: #E98219;
}