<mat-toolbar color="white">
    <img class="logo" src="assets/picture/logo-plqs.png">
    <span class="lqs ginza"><b>PHỞ LÝ QUỐC SƯ ROYAL</b></span>
</mat-toolbar>
<div class="wrapper">
    <img class="img" src="https://images.foody.vn/res/g90/892835/prof/s576x330/foody-upload-api-foody-mobile-pho-pho1-190919152004.jpg?fbclid=IwAR3EZIE-3kEyz7Ekow96v_UAbYWnRSKyHEYCNMatk5c8jBpWz4mooSXMIC0">
    <div class="form">
    <div class="login-form">
        <h1>ĐĂNG NHẬP</h1>
        <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill">
                <mat-label>Nhập tên đăng nhập</mat-label>
                <input matInput placeholder="tunghvhe130498" autocomplete="off" formControlName="username">
                <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" color="white">
                <mat-label>Nhập mật khẩu</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <button type="submit" class="login">Đăng nhập</button><br>
            <button type="button" routerLink="/dang-ki" class="login">Đăng kí</button>
        </form>
        <a routerLink="/quen-mk">Quên mật khẩu</a>
    </div>
    </div>
    <!-- <app-loading-spinner *ngIf="isLoading"></app-loading-spinner> -->
</div>


