<div class="footer row">
    <div class="left col-xs-7">
        <img
            src="assets/picture/logo-plqs.png">
        <span class="lqs"><b>PHỞ LÝ QUỐC SƯ ROYAL</b></span>
        <br><br>
        <p>Địa chỉ 1: Tầng 1, R1-L1-03A Royal City, Quận Thanh Xuân, Hà Nội</p>
        <p>Địa chỉ 2: Park 2 SH0101, Park Hill, Times City, 458 Minh Khai, P. Vĩnh Tuy, Quận Hai Bà Trưng, Hà Nội</p>
        <p>Email: pholqs@gmail.com</p>
        <p>Theo dõi chúng tôi trên: </p>
        <mat-icon>facebook</mat-icon>
    </div>
    <div class="right col-xs-5">
        <h1><span>
                <mat-icon>call</mat-icon>
            </span> Hotline: 0961033146</h1>
        <p>Gửi phản hồi của quý khách tại đây:</p>
        <mat-form-field appearance="fill">
            <mat-label>Phản hồi</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
        <br>
        <button type="submit" class="btn btn-success">Gửi</button>
    </div>
</div>