.login{
    width: 70%;
    border-radius: 20px;
    height: 40px;
    margin-bottom: 12px;
    background-color: #E98219;
    outline: none;
    border: none;
    color: white;
}

h1{
    font-size: 30px;
    font-weight: 500;
}

.login:hover{
    background-color: #c76300;
    cursor: pointer;
}
